html, body {
  background: rgb(10, 25, 41);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: rgb(170, 180, 190);
  text-decoration: none;
}

p {
  color: rgb(170, 180, 190);
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}


* {
  box-sizing: border-box;
}